<h2>Add a New Place</h2>

<form action="/places/create" id="place_form">
	Place Name<br>
	<input name = "title"><br>
	Image URL<br>
	<input name = "photo_url"><br>
	Price<br>
	<input type = "number" step="any" name="admission_price"><br>
</form>
Description<br>
<textarea name="description" form="place_form" rows="10" cols="70"></textarea><br>
<button form= "place_form">Submit</button>